.modal-register {
    position: fixed;
    max-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 300;
    background-color: white;
    opacity: 0.5;
}
  
.modal-register-body {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    z-index: 400;
    text-align: center;
    margin: 0%; 
}

.MuiGrid-root {
    text-align: center !important;
}

.MuiAvatar-colorDefault {
    background-color: #448aff !important;
}

/* .MuiFormControlLabel-root {
    margin-top: 3% !important;
}

.MuiFormControl-root {
    max-height: 50px !important;
    margin-top: 5% !important;
} */